<div class="mb-20" fxLayout fxLayoutGap="100px">
    <div *ngFor="let item of tenants">
        <mat-card style="width: 100%; text-align: left;">
            <div>
                <app-stat [bgClass]="'success'" [icon]="'bookmark'" [label]="item.name">

                </app-stat>
            </div>
        </mat-card>
    </div>
</div>

<div class="mb-20" fxLayout>
    <mat-card class="child-1" style="width: 55%; margin-right: 10px;">
        <div fxFlex>
            <app-stat [bgClass]="'info'" [icon]="'bookmark'" [content]="'Books'"></app-stat>
        </div>
    </mat-card>
</div>