<mat-card style="background-color: snow;">
    <mat-card-title>
        All BookStores
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="30px">
            <div *ngFor="let item of tenants;let i = index">
                <mat-card [ngClass]="('child-' + (i + 1))">
                    <app-stat [bgClass]="'info'" [icon]="'bookmark'" [label]="item.name">
                    </app-stat>
                    <br>
                    <a mat-raised-button [routerLink]="['bookstore-details']" [queryParams]="{apiKey: item.apiKey}"
                        color="primary" style="font-size: large;">
                        Details
                    </a>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>